{% extends "account/base.html" %}

{% block title_block %}
   Login
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="text-center">
  <br><br><br>
    <h1>{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>Please sign in with one
  of your existing third party accounts. Or, <a href="{% url 'designmytee:account_signup' %}">sign up</a>
  for a {{ site_name }} account and sign in below:</p>

 
                <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
                <p class="mt-5 mb-3 text-muted"></p>

  <div class="socialaccount_ballot">

    

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>If you have not created an account yet, then please
  <a href="{% url 'designmytee:account_signup' %}">sign up</a> first.</p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'designmytee:account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'designmytee:account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  </form>

</div>

{% endblock %}
