
{% extends 'designmytee/base.html' %}
{% load staticfiles %} 
{% load embed_video_tags %}
{% block title_block %}
   About
{% endblock %}
{% block body_block %}
<p>

			<header class="text-center col-12">
				<div class="row">
				<div class="container">
					<div class="heading">

						<h1 class="compHeading text-center">About Us!</h1>
					
					</div>
			</header>
			<hr class="shadow">
					<div class="coverImage text-center">
		<img src="{% static 'images/about-us.jpg' %}" class="coverImg img-fluid rounded mx-auto d-block" alt="Cover">
		<div class="container-3">
			<h3> What is it all about? </h3>
			
			The Design My Tee Competition is a freestyle design competition open to both concept stage and realized works designed by professional and young fashion designers, tailors, stylists, fashion design companies and other business in this industry worldwide.
			<br>
			<br>  
			<br>  
			<img src="{% static 'images/Register-Now.jpg' %}" class="coverImg img-fluid rounded mx-auto d-block" alt="Cover">
			<h3> How to participate in a competition? </h3>
			A competition gives you chance to create your own design on a t-shirt to compete with other designers in a variety of competitions. ​The competitions are held and uploaded regularly and last a certain number of days. For more details on these competitions please refer to the competitions tab. ​
			<br>
			<br>
			Designers who want to be a part of a competition can upload their t-shirt design within this window, after which submissions are closed. ​All logged-in users can vote on the designs and the design with the highest number of votes wins. ​All designers are automatically added into a lucky draw and someone is randomly selected to be sent a copy of the printed t-shirt with the winning competition design. ​
			<br>
			<br>
			<h3> Do I have to be a designer to participate? </h3>
			No you dont! even if you are a T-shirt fan and just love to see other peoples designs you can vote and still be entered into the lucky draw!
			<br>
			<br>
			<h3> How does the designing system work? </h3>
			Simply create your fantastic design and save it as any standard file format, standard .jpg, .jpeg and .png formats will do but a full list of accepted file formts can e found in the link below!
			<br>
			<a href="https://pillow.readthedocs.io/en/stable/handbook/image-file-formats.html"> Click here for list of accepted file types</a>
			<br>
			Then procede to our competitions page and choose the competition you want to submit for, if the competition is still open for submissions simply enter your submission!
			<br>
			If the competition is closed... dont worry! you can still get involved by submiting your vote for your favourite design!
			<br>
			
			
		</div>
		</div>
		</p>
		
		<div class="text-center con">
		<h3> New to digital designing? Here is a video to get you started! </h3>
		<br>
			{% for vid in item_video %}
			
			{% video vid.video "50% x 66%" %}
		{% endfor %}
		</div>
	
			
			
			<br>
			<hr class="shadow">
		</div>
		</p>	
		</div>
		
	</div>
	
{% endblock %}