{% extends 'designmytee/base.html' %}
{% load staticfiles %} <!-- New line -->
{% block title_block %}
    Designer Profile
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="/static/profile.css">
<br>
	<header class="text-center">
		<h1> {{ designer.user.first_name }}'s Profile</h1>        
	</header>
	
	<div class="container-fluid">
		<div class="row">
		  <div class="col-sm-3 col-md-4" style="background-color:lightgray;">
			<div class="text-center">
				<br>
				<img src="{% static 'images/homepage-cover.jpeg' %}" class="rounded-circle" height="150" width="200" alt="Profile pic">
			</div>
		  </div>
		  
		  <div class="col-sm-9 col-md-8" style="background-color:lightblue;">
			<div class="row">
				<div class="col-md-6">
                    <br>
					<h5>First Name</h5>
				</div>
				<div class="col-md-6 text-secondary">
                    <br>
					<p>{{ designer.user.first_name }}</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<h5>Last Name</h5>
				</div>
				<div class="col-md-6 text-secondary">
					<p>{{ designer.user.last_name }}</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<h5>Username</h5>
				</div>
				<div class="col-md-6 text-secondary">
					<p>{{ designer.user.username }}</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<h5>Email</h5>
				</div>
				<div class="col-md-6 text-secondary">
					<p>{{ designer.user.email }}</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<h5>Wins</h5>
				</div>
				<div class="col-md-6 text-secondary">
					<p>{{ designer.wins }}</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<h5>Participations</h5>
				</div>
				<div class="col-md-6 text-secondary">
					<p>{{ designer.participations }}</p>
					<br>
				</div>
			</div>
			

		  </div>
		</div>
	  </div>
	
	

{% endblock %}

