{% extends 'designmytee/base.html' %}
{% load staticfiles %} 
{% block title_block %}
   Help
{% endblock %}
{% block body_block %}
<p>
<div>
		<div class="row">
			<div class="heading">

                <h1 class="compHeading text-center">Help Section</h1>
            
            </div>
			<hr class="shadow">
			<div class="coverImage">
		<img src="{% static 'images/help.png' %}" class="img-fluid rounded mx-auto d-block coverImg " alt="HelpCover">
	</div>
			
		</div>
		
	</div>
	
Please feel free to contact us on our email address:<b> help@designmytee.com </b>
<br>
To talk to our representatives, you can use our contact numbers:
<ol>
  <li>+441412233465</li>
  <li>+447548873581</li>
  <li>+447548873582</li>
</ol>  
<div>
<h3> Suggestion,Feedback or Queries Form </h3>
For anymore queries, suggestions or feedback, please fill in your details along with your comments in the form given below.
<div>
        <form id="suggestion_box" method="post" action="{% url 'designmytee:help'%}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>

</div>
</p>
{% endblock %}